<div class="mb-4 flex items-center justify-between gap-4 md:mb-8">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Shop by yarn manufacturer</h2>

</div>
<div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
    <a href="/index.html" class="flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="icon" width="24" height="24" src="/images/yarn-ball.png" />
        <span class="category text-sm font-medium text-gray-900 dark:text-white">All</span>
    </a>
    <a href="/pages/hobbyStore_yarn_page.html" class="flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="icon" width="24" height="24" src="/images/yarn-ball.png" />
        <span class="category text-sm font-medium text-gray-900 dark:text-white">Hobby store</span>
    </a>
    <a href="/pages/nako_yarn_page.html" class="flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="icon" width="24" height="24" src="/images/yarn-ball.png" />
        <span class="category text-sm font-medium text-gray-900 dark:text-white">Nako</span>
    </a>
    <a href="/pages/kotton_yarn_page.html" class="flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="icon" width="24" height="24" src="/images/yarn-ball.png" />
        <span class="category text-sm font-medium text-gray-900 dark:text-white ">Kotton</span>
    </a>
    <a href="/pages/ice_yarn_page.html" class="flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="icon" width="24" height="24" src="/images/yarn-ball.png" />
        <span class="category text-sm font-medium text-gray-900 dark:text-white ">Ice</span>
    </a>
</div>